{% extends "base.html.twig" %}

{% block title %}Poire{% endblock %}
{% block main %}
    <section class="jumbotron">
        <div class="container text-center">
            <h1 class="display-4">The New Internet</h1>
            <p class="lead text-muted">Decentralized, secure, private. The PiperNet is on it's way to revolutionize
                every smartphone, PC, and smart-fridge near you.</p>
            <a class="btn btn-primary my-2" href="#">Sign up for free</a><a class="btn btn-link my-2" href="#">Read
                more</a>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <h2 class="mb-5 text-center">The Pied Piper Blog</h2>
            <div class="card-deck d-block d-md-flex">
                <div class="card mb-4">
                    <a href="#"><img class="card-img-top"
                                     src="https://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=007bff"
                                     alt=""></a>
                    <div class="card-body pt-3">
                        <small class="text-muted">07 Nov 2018 | By Dinesh Chugtai</small>
                        <h5 class="card-title my-2"><a href="#">Why I'm the Best Programmer Ever</a></h5>
                        <p class="small card-text text-muted">I feel like not everybody outside of Pied Piper knows it,
                            so I wanted to make it clear why I'm the best programmer in the world.</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <a href="#"><img class="card-img-top"
                                     src="https://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=007bff"
                                     alt=""></a>
                    <div class="card-body pt-3">
                        <small class="text-muted">07 Nov 2018 | By Bertram Gilfoyle</small>
                        <h5 class="card-title my-2"><a href="#">Secrets of Decentralization</a></h5>
                        <p class="small card-text text-muted">What makes decentralization so great? Let me enlighten you
                            with my wisdom</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <a href="#"><img class="card-img-top"
                                     src="https://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=007bff"
                                     alt=""></a>
                    <div class="card-body pt-3">
                        <small class="text-muted">07 Nov 2018 | By Monica Hall</small>
                        <h5 class="card-title my-2"><a href="#">How Our ICO Almost Failed</a></h5>
                        <p class="small card-text text-muted">This is a short story about how we uncovered an insane
                            problem with our ICO, fixed it, and still managed to secure vast funding.</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <a href="#"><img class="card-img-top"
                                     src="https://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=007bff"
                                     alt=""></a>
                    <div class="card-body pt-3">
                        <small class="text-muted">07 Nov 2018 | By Jared Dunn</small>
                        <h5 class="card-title my-2"><a href="#">Why Strong Tea Isn't Good For CEOs</a></h5>
                        <p class="small card-text text-muted">An exhaustive guide about how different teas can affect a
                            CEO during their workday.</p>
                    </div>
                </div>
            </div>
            <div class="text-center"><a class="btn btn-primary" href="#">Read more</a></div>
        </div>
    </section>
{% endblock %}