{% extends "base.html.twig" %}

{% block title %}Poire{% endblock %}
{% block main %}
    <section class="jumbotron">
        <div class="container text-center">
            <h1 class="display-4">Les figures à connaître!</h1>
            <p class="lead text-muted">Tous les tricks que vous devez connaître sont rassemblés sur ce site.</p>
            <a class="btn btn-primary my-2" href="#">Inscrivez-vous!</a><a class="btn btn-link my-2" href="#">En savoir plus --> </a>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <h2 class="mb-5 text-center">Le blog des passionnés de snowboard</h2>
            <div class="card-deck d-block d-md-flex">
                <div class="card mb-4">
                    <a href="#"><img class="card-img-top"
                                     src="https://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=007bff"
                                     alt=""></a>
                    <div class="card-body pt-3">
                        <small class="text-muted">05 Nov 2020 | By Reybeka Peyrat</small>
                        <h5 class="card-title my-2"><a href="#">Ready to update skills!</a></h5>
                        <p class="small card-text text-muted">Thanks for reading.</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <a href="#"><img class="card-img-top"
                                     src="https://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=007bff"
                                     alt=""></a>
                    <div class="card-body pt-3">
                        <small class="text-muted">05 Nov 2020 | By Reybeka Peyrat </small>
                        <h5 class="card-title my-2"><a href="#">Ready to update skills!</a></h5>
                        <p class="small card-text text-muted">Thanks for reading.</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <a href="#"><img class="card-img-top"
                                     src="https://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=007bff"
                                     alt=""></a>
                    <div class="card-body pt-3">
                        <small class="text-muted">05 Nov 2020 | By Reybeka Peyrat</small>
                        <h5 class="card-title my-2"><a href="#">Ready to update skills!</a></h5>
                        <p class="small card-text text-muted">Thanks for reading.</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <a href="#"><img class="card-img-top"
                                     src="https://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=007bff"
                                     alt=""></a>
                    <div class="card-body pt-3">
                        <small class="text-muted">05 Nov 2020 | By Reybeka Peyrat</small>
                        <h5 class="card-title my-2"><a href="#">Ready to update skills!</a></h5>
                        <p class="small card-text text-muted">Thanks for reading.</p>
                    </div>
                </div>
            </div>
            <div class="text-center"><a class="btn btn-primary" href="#">En savoir plus --></a></div>
        </div>
    </section>
{% endblock %}